/*************************************/
/* BEGIN "test/fixtures/images.less" */
.foo {
  background-image: url(ebay-logo.png);
}
.bar {
  background-image: url(ebay-logo.png);
}
.baz {
  background-image: url(http://baz.com/baz.png);
}
/* END   "test/fixtures/images.less" */
/*************************************/
